<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ .Title }} | COVID-19 API | Bahamas</title>
    <meta name="description" content="Access COVID-19 (Coronavirus) case and vaccination data for The Bahamas from The Ministry of Health & Wellness' COVID-19 Case Reports and COVID-19 Vaccination Updates.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="preload" href="/styles/style.css" as="style">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <noscript><style>.script {display: none}</style></noscript>
    <link rel="icon" href="/favicon.svg">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9395A1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    {{ partial "head/canonical.html" . }}
    {{ partial "head/defaults.html" . }}
    {{ partial "head/social/list.html" . }}
    {{ partial "head/ga.html" . }}
  </head>
  <body>
    {{ .Scratch.Set "forSponsor" "true" }}
    {{ partial "navbar.html" . }}
    <main class="[ main ]">

      <header class="[ hero ] [ py--3 ]">
        
        <div class="[ wrapper ] [ x--wide ]">

          <h1>{{ .Title }}</h1>

          <p class="ch--45">{{ .Summary }}</p>

        </div>

      </header>
      
      <div class="[ share__bar ] [ x--wide flex--between--middle flex--wrap pt--d15 pb--2 no--print ]">

        <nav class="[ breadcrumbs ] [ pb--1 ]">
  
          <ul class="[ flex ]">
            <li class="[ breadcrumb__item ] [ mr--1 ]"><a href="/">Home</a></li>
            <li class="[ breadcrumb__item ]">{{ .Title }}</li>
          </ul>
  
        </nav>
  
        <div class="[ flex--middle mb--1 ]">
          <span class="[ mr--1 ]">Share on:</span>
          {{ partial "social/list.html" }}
        </div>
  
      </div>

      <div class="[ x--wide pb--3 ]">

          {{ .Content }}

          <form class="[ form form--contact ]" id="contact" name="contact" method="POST" data-netlify="true" netlify-honeypot="email" data-validate>
            <div class="[ form__field ]">
              <label class="[ form__label ] [ required ]" for="name">Name</label>
              <input class="[ form__input ]" id="name" name="name" type="text" placeholder="Your Name" autocomplete="off" required>
            </div>
            <div class="[ form__field ]">
              <label class="[ form__label ] [ required ]" for="mailer">Email</label>
              <input class="[ form__input ]" id="mailer" name="mailer" type="email" placeholder="your@email.com" autocomplete="off" required>
            </div>
            <div class="[ form__field ]">
              <label class="[ form__label ] [ required ]" for="message">Message</label>
              <textarea class="[ form__message ]" id="message" name="message" placeholder="Say hello..." autocomplete="off" required></textarea>
            </div>
            <div id="checking" aria-hidden="true">
              <label for="email">Please do not fill in this field.</label>
              <input id="email" name="email" autocomplete="off" type="email">
            </div>
            <input id="lead-source" type="hidden" value="Contact Us | COVID-19 API">
            <input id="lead-url" type="hidden" value="{{ .Permalink }}">
            <div class="[ form__submit ]">
              <input class="[ btn btn--ghost--lg ]" id="submit" type="submit" name="submit" value="Send">
            </div>
          </form>
        
      </div>

    </main>
    {{ partial "footer.html" }}
  </body>
</html>