<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ .Title }} | COVID-19 API | Bahamas</title>
    <meta name="description" content="{{.Summary}}">
    {{ partial "head/canonical.html" . }}
    {{ partial "head/defaults.html" . }}
    {{ partial "head/social/list.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" }}
    <main class="[ main ] [ mb--3 ]">

      <header class="[ hero ] [ py--3 ]">
        
        <div class="[ wrapper ] [ x--wide ]">

          <h1>{{ .Title }}</h1>

          <p class="ch--45">{{ .Summary }}</p>

        </div>

      </header>
      
      <div class="[ share__bar ] [ x--wide flex--between--middle flex--wrap pt--d15 pb--2 no--print ]">

        <nav class="[ breadcrumbs ] [ pb--1 ]">
  
          <ul class="[ flex ]">
            <li class="[ breadcrumb__item ] [ mr--1 ]"><a href="/">Home</a></li>
            <li class="[ breadcrumb__item ]">{{ .Title }}</li>
          </ul>
  
        </nav>
  
        <div class="[ flex--middle mb--1 ]">
          <span class="[ mr--1 ]">Share on:</span>
          {{ partial "social/list.html" . }}
        </div>
  
      </div>

      <article class="[ x--wide ]">

        {{ .Content }}

      </article>

    </main>
    {{ partial "footer.html" }}
  </body>
</html>