<hr class="[ x--wide ]">
<section class="[ x--wide grid x2--md gc--6 gr--1 py--2 ]">
  
  <div class="ml-form-embedContent">
    <h2 class="[ ]">Stay Updated</h2>
    <p>Don't want to miss the latest COVID-19 reports and updates? Subscribe to our mailing list.</p>
  </div>
  
  <form class="form" action="https://static.mailerlite.com/webforms/submit/c7p7n5" data-code="c7p7n5" method="post" target="_blank">
    
    <div class="[ form__field ]">
      <label for="fields[email]" class="[ required in-bl mb--025 ]">Email</label>
      <input id="fields[email]" name="fields[email]" class="[ form__input ]" aria-label="email" aria-required="true" type="email" placeholder="your@email.com" autocomplete="email">
    </div>

    <div class="">
      <input class="[ hidden ]" type="hidden" name="ml-submit" value="1">
      <button class="[ btn btn--solid--lg solid--blk ]" type="submit">Subscribe</button>
      <button disabled="disabled" type="button" class="loading">
      <div class=""></div>
      <span class="[ form__loader ]">Loading...</span> </button>
    </div>
    <input class="[ hidden ]" type="hidden" name="anticsrf" value="true">
  </form>

</section>





<!-- <div class="ml-form-successBody row-success" style="display:none">
  <div class="[ text--center ] ml-form-successContent">
    <h4>Thank you!</h4>
    <p>You have successfully joined our subscriber list.</p>
  </div>
</div> -->

