<hr class="[ x--wide ]">
<section class="[ x--wide py--2 ]">

  <div class="[ grid x2--md gc--6 gr--1 ]">
    
    <div>

      <h2>Support The API</h2>

      <p>While love makes the world go round, money greases the wheels. Help us keep this project going and fund future developments with a donation.</p>
    
    </div>

    <div class="[ grid x2--xs g--1 ]">
      <a class="[ btn btn--ghost--lg flex--center--middle ]" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=j_pinder.us@outlook.com&item_name=Supporters+of+the+COVID-19+API&item_number=COVID-19+API+Campaign&amount=10%2e00&currency_code=USD" rel="noopener" target="_blank">$10</a>
      <a class="[ btn btn--ghost--lg flex--center--middle ]" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=j_pinder.us@outlook.com&item_name=Supporters+of+the+COVID-19+API&item_number=COVID-19+API+Campaign&amount=25%2e00&currency_code=USD" rel="noopener" target="_blank">$25</a>
      <a class="[ btn btn--ghost--lg flex--center--middle ]" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=j_pinder.us@outlook.com&item_name=Supporters+of+the+COVID-19+API&item_number=COVID-19+API+Campaign&amount=50%2e00&currency_code=USD" rel="noopener" target="_blank">$50</a>
      <a class="[ btn btn--ghost--lg flex--center--middle ]" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=j_pinder.us@outlook.com&item_name=Supporters+of+the+COVID-19+API&item_number=COVID-19+API+Campaign&amount=100%2e00&currency_code=USD" rel="noopener" target="_blank">$100</a>
    </div>

  </div>

</section>