<section class="[ mb--2 ]">
      
  <h2 class="[ h3 mb--025 ]">Cases by Sex</h2>

  <table class="[ table ]">

    <thead>
      <tr>
        <th class="[ column--head text--left ]">Sex</th>
        <th class="[ text--right ]">New</th>
      </tr>
    </thead>

    <tbody>
      {{ range $i, $e := .Params.report.cases.bySex }}
      <tr>
        <th class="[ column--head text--left ]">{{ .group.sex }}</th>
        <td class="[ text--right ]">{{ .group.new }}</td>
      </tr>
      {{ end }}

      <tr>
        <th class="[ column--head text--left ]">Total</th>
        <td class="[ text--right bold ]">{{ .Params.report.cases.newTotal }}</td>
      </tr>
    
    </tbody>

  </table>

</section>
