<section class="[ mb--2 {{if eq .Params.report.cases.ifTravelHistory false }}page--break{{end}} ]">

  <h2 class="[ h3 mb--025 ]">Active Cases</h2>

  <figure>

    <table class="[ table ]">

      <thead>
        <th class="[ column--head text--left ]">Active</th>
        <th class="[ text--right ]">Total</th>
      </thead>

      <tbody>
        <tr>
          <th class="[ column--head text--left ]">Report Date</th>
          <td class="[ text--right ]">{{ .Params.report.cases.active }}</td>
        </tr>
      </tbody>
  
    </table>

  </figure>

</section>

<section class="[ mb--2 ]">

  <h2 class="[ h3 mb--025 ]">Recovered Cases</h2>

  <figure>

    <table class="[ table ]">

      <thead>
        <tr>
          <th class="[ column--head text--left ]">Recovered</th>
          <th class="[ text--right ]">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="[ column--head text--left ]">Report Date</th>
          <td class="[ text--right ]">{{ .Params.report.cases.recovered.new }}</td>
          
        </tr>
        <tr>
          <th class="[ column--head text--left ]">To Date</th>
          <td class="[ text--right ]">{{ .Params.report.cases.recovered.toDate }}</td>
        </tr>
      </tbody>
  
    </table>

  </figure>

</section>