<section>

  <h2 class="[ mb--050 ]">Deaths</h2>

  <table class="[ table ]">

    <thead>
      <tr>
        <th class="[ text--left ]">Type</th>
        <th class="[ text--right ]">Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th class="[ text--left ]">Case Fatalities</th>
        <td class="[ text--right ]">{{ .Params.report.cases.fatalities.toDate }}</td>
      </tr>
      <tr>
        <th class="[ text--left ]">Unrelated Deaths</th>
        <td class="[ text--right ]">{{ .Params.report.cases.fatalities.unrelatedToDate }}</td>
      </tr>
      <tr>
        <th class="[ text--left ]">Under Investigation</th>
        <td class="[ text--right ]">{{ .Params.report.cases.fatalities.underInvestigation }}</td>
      </tr>
    </tbody>
    
  </table>

</section>