<section class="[ mb--2 ]">

  <h2 class="[ h3 mb--025 ]">Hospitalizations</h2>

  <div class="[ wrapper for--table ]">
    <table class="[ table--breakdown ] [ mb--2 ]">

      <thead>
        
        
        <tr>
          <th class="[ column--head text--left ]">Healthcare Institution</th>
          <th class="[ text--center ]">Island</th>
          <th class="[ text--right ]">ICU</th>
          <th class="[ text--right ]">Non-ICU</th>
          <th class="[ text--right ]">Total</th>
        </tr>
  
      </thead>
      
      <tbody>
        <!-- <tr>
          <th class="[ column--head text--left ]">New Providence</th>
          <td colspan="3"></td>
        </tr> -->
        {{ range first 4 .Params.report.cases.inHospital.byFacility }}
        <tr>
  
          <th class="[ column--head text--left ]">{{ .facility.name }}</th>
          <td class="[ text--center ]">New Providence</td>
          <td class="[ text--right ]">{{ .facility.icu }}</td>
          <td class="[ text--right ]">{{ .facility.nonICU }}</td>
          <td class="[ text--right ]">{{ .facility.total }}</td>
        </tr>
        {{ end }}
        
        {{ range last 1 .Params.report.cases.inHospital.byFacility }}
          <!-- <tr>
            <th class="[ column--head text--left ]">Grand Bahama</th>
            <td colspan="3"></td>
          </tr> -->
          <tr>
            <th class="[ column--head text--left ]">{{ .facility.name }}</th>
            <td class="[ text--center ]">Grand Bahama</td>
            <td class="[ text--right ]">{{ .facility.nonICU }}</td>
            <td class="[ text--right ]">{{ .facility.icu }}</td>
            <td class="[ text--right ]">{{ .facility.total }}</td>
          </tr>
        {{ end }}
        <tr>
          <th class="[ column--head text--left ]">Total</th>
          <td></td>
          <td class="[ text--right bold ]">{{ .Params.report.cases.inHospital.totals.total }}</td>
          <td class="[ text--right bold ]">{{ .Params.report.cases.inHospital.totals.nonICU }}</td>
          <td class="[ text--right bold ]">{{ .Params.report.cases.inHospital.totals.icu }}</td>
        </tr>
        
  
    </table>
  </div>
  
  <!-- <table class="[ table ]">
      
    <thead>
      <tr>
        <th colspan="4">Grand Bahama</th>
      </tr>
      <tr>
        <th class="[ text--left ]">Healthcare Institution</th>
        <th class="[ text--right ]">ICU</th>
        <th class="[ text--right ]">Non-ICU</th>
        <th class="[ text--right ]">Total</th>
      </tr>
    </thead>

    <tbody>
        {{ range last 1 .Params.report.cases.inHospital.byFacility }}
        <tr>
          <th class="[ text--left ]">{{ .facility.name }}</th>
          <td class="[ text--right ]">{{ .facility.nonICU }}</td>
          <td class="[ text--right ]">{{ .facility.icu }}</td>
          <td class="[ text--right ]">{{ .facility.total }}</td>
        </tr>
        {{ end }}
      </tr>
    </tbody>

  </table> -->

</section>