{{if eq .Params.report.ifReported true }}
<figure>

  <table class="[ table ] [ mb--2 ]">

    <thead>
      <tr>
        <th class="[ text--left ]">Island</th>
        <th class="[ text--right ]">Age</th>
        <th class="[ text--right ]">Sex</th>
        <th class="[ text--right ]">Date of Death</th>
      </tr>
    </thead>
  
    <tbody>
      {{ range $i, $e := .Params.report.reportedFatalities }}
      <tr>
        <td class="[ text--left ]">{{ .fatality.island }}</td>
        <td class="[ text--right ]">{{ .fatality.age }}</td>
        <td class="[ text--right ]">{{ .fatality.sex }}</td>
        <td class="[ text--right ]">{{ .fatality.date  | dateFormat "Jan. 2, 2006" }}</td>
      </tr>
      {{ end }}
    </tbody>
  
  </table>

  <figcaption>
    <p>A total of ({{ len .Params.report.reportedFatalities }}) deaths reported as of {{ .Params.report.date | dateFormat "Monday, Jan 2, 2006" }}.</p>
    <p><strong>Note:</strong> Island indicates island of residence.</p>
  </figcaption>
</figure>
{{ end }}
