{{if eq .Params.report.cases.ifTravelHistory true }}
  <section class="[ mb--2 ]">

    <h2 class="[ h3 mb--025 ]">Cases With History of Travel</h2>
    
    <figure>

      <table class="[ table ] [ mb--1 ]">
      
        <thead>
  
          <tr>
            <th class="[ column--head text--left ]">Island</td>
            <th class="[ text--right ]">New</td>
          </tr>
  
        </thead>
  
        <tbody>
          {{ range $i, $e := .Params.report.cases.historyOfTravel.byIsland }}
          <tr>
            <th class="[ column--head text--left ]">{{ .island.name }}</th>
            <td class="[ text--right ]">{{ .island.new }}</td>
          </tr>
          {{ end }}
          <tr>
            <th class="[ column--head text--left ]">Total</th>
            <td class="[ text--right bold ]">{{ .Params.report.cases.historyOfTravel.total }}</td>
          </tr>
        </tbody>
  
      </table>

      <figcaption><strong>Note:</strong> This data refers to confirmed cases with history of travel in the last fourteen (14) days.</figcaption>
    </figure>


  </section>
  {{ end }}