<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joseph Pinder's COVID-19 API</title>
  <meta name="description" content="This a public API for COVID-19 case and vaccination data in The Bahamas.">

</head>
<body>

    <h1>Joseph Pinder's COVID-19 API</h1>

    <p>This is public read-only API read-only and was created for COVID-19 data in The Bahamas.</p>
      <!-- Joseph Pinder's <a href="#">COVID-19 Dashboard for The Bahamas</a>.</p> -->


    <ul>
      <li><a href="/reports/index.json" rel="noopener noreferrer">COVID-19 Case Reports</a></li>
      <li><a href="/updates/index.json" rel="noopener noreferrer">COVID-19 Vaccination Updates</a></li>
    </ul>

    
</body>
</html>