<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joseph Pinder's COVID-19 API</title>
  <meta name="description" content="This a public API for COVID-19 case and vaccination data in The Bahamas.">

</head>
<body>

    <h1>COVID-19 Public API for The Bahamas</h1>

    <p>This is public read-only API read-only and was created for COVID-19 data in The Bahamas.</p>

    <h2>Creator</h2>
    <p>Joseph Pinder</p>

    <h2>Contributors</h2>
    <ul>
      <!-- Contributing? Add your name to the list. -->
      <li></li>
    </ul>

    <ul>
      <li><a href="/reports/index.json" rel="noopener noreferrer">COVID-19 Case Reports</a></li>
      <li><a href="/updates/index.json" rel="noopener noreferrer">COVID-19 Vaccination Updates</a></li>
    </ul>

    
</body>
</html>