{{ $update := .Params.update }}
{{ $aggregate := $update.doses.aggregate }}
{{ $total := $aggregate.total }}
{{ $first := $aggregate.first }}
{{ $second := sub $total $first }}
{{ $full := $update.full }}
{{ $abroad := $update.abroad }}
{{ $jj := $update.jj }}
{{ if or (gt $abroad 0) (and (eq $abroad 0) (lt $second $full) ) }}
<section class="[ mb--2 ]">
  <h2 class="[ title--bar ] [ h4 p--050 mb--050 ]">Vaccinations Abroad</h2>

  <figure class="[ mb--2 ]">
    {{ with .NextInSection }}
    {{ $prevTotal := .Params.update.abroad }}
    <table class="[ table mb--1 ]">
      
      <thead>
        <th class="[ column--head column--blue ] [ text--left pl--1 ]">Registered</th>
        <th class="[ text--center ]">New</th>
        <th class="[ column--blue ] [ text--center ]">To Date</th>
      </thead>

      <tbody>
        <tr>
          <th class="[ column--head column--blue ] [ text--left pl--1 ]">Abroad</th>
          <td class="[ text--center ]">{{ if eq (sub $abroad $prevTotal) 0 }}—{{else}}{{ lang.NumFmt 0 (sub $abroad $prevTotal) }}{{end}}</td>
          <td class="[ column--blue ] [ text--center ]">{{ if eq $second $full }}—{{else if and (eq $abroad 0) (lt $second $full) }}{{ lang.NumFmt 0 (sub $full $second) }}{{else}}{{ lang.NumFmt 0 $abroad }}{{end}}</td>
        </tr>
      </tbody>  
    </table>
    {{end}}
    <figcaption>
      <p><strong>Note:</strong> Registrants vaccinated abroad (or outside of The Bahamas) introduced to numbers between Sunday, Jul 18, 2021 and Saturday, Jul 24, 2021.</p>
    </figcaption>
  </figure>

</section>
{{ end }}