{{ $debug := true }}
{{ $update := .Params.update }}
{{ $doses := $update.doses }}
{{ $aggregate := $doses.aggregate }}
{{ $total := $aggregate.total }}
{{ $first := $aggregate.first }}
{{ $second := sub $total $first }}
{{ $full := $update.full }}
{{ $abroad := $update.abroad }}
{{ $jj := $update.jj }}
<section class="[ mb--2 page--break ]">
  
  <h2 class="[ title--bar ] [ h4 p--050 mb--050 ]">Vaccinations by Island</h2>

  <figure>

    <div class="[ wrapper for--table ]">
      <table class="[ table--breakdown ] [ mb--1 ]">
        <thead>
          {{ $firstTotal := 0 }}
          {{ $secondTotal := 0}}
          {{ $byIslandTotal := 0 }}
          <tr>
            <th class="[ column--head column--blue ] [ text--left pl--1 ]" rowspan="2">Island</td>
            <th class="[ text--center ]" colspan="2">First</td>
            <th class="[ column--blue ] [ text--center ]" colspan="2">{{ if $jj }}Fully Vaccinated{{else}}Second{{end}}</td>
            <th class="[ text--center ]" rowspan="2">Total</th>
          </tr>
          <tr>
            <td class="[ text--center ]">New</td>
            <td class="[ text--center ]">Total</td>
            <td class="[ column--blue ] [ text--center ]">New</td>
            <td class="[ column--blue ] [ text--center ]">Total</td>
          </tr>
    
        </thead>
        {{ $prevFirstDoseTotal := 0 }}
        {{ $prevSecondDoseTotal := 0 }}
        {{ $prevDosesByIsland := "" }}
        {{ with .NextInSection }}
          {{ $prevDosesByIsland = .Params.update.doses.byIsland }}
        {{end}}
        <tbody>
          {{ range $i, $e := .Params.update.doses.byIsland }}
          {{ $prevFirstDose := 0 }}
          {{ $prevSecondDose := 0 }}
          {{ $first := .island.first }}
          {{ $second := .island.second }}
          {{ $newFirstDose := 0 }}
          {{ $newSecondDose := 0 }}
          {{ $islandName := .island.name }}
          {{ with $prevDosesByIsland }}
            {{ $prevFirstDose = (index (where . "island.name" $islandName) 0).island.first }}
            {{ $prevSecondDose = (index (where . "island.name" $islandName) 0).island.second }}
            {{ $newFirstDose = add $newFirstDose ( sub $first $prevFirstDose ) }}
            {{ $newSecondDose = add $newSecondDose (sub $second $prevSecondDose ) }}
            {{ $prevSecondDoseTotal = add $prevSecondDoseTotal $newSecondDose }}
            {{ $prevFirstDoseTotal = add $prevFirstDoseTotal $newFirstDose }}
          {{end}}
          <tr>
            <th class="[ column--head column--blue ] [ text--left pl--1 ]">{{ .island.name }}</th>
            <!-- First -->
            <td class="[ text--center ]">{{if ne $newFirstDose 0}}{{ lang.NumFmt 0 $newFirstDose }}{{else}}—{{end}}</td>
            <td class="[ text--center ]">{{ lang.NumFmt 0 .island.first }}</td>
            <!-- Second -->
            <td class="[ column--blue ] [ text--center ]">{{ if ne $newSecondDose 0 }}{{ lang.NumFmt 0 $newSecondDose }}{{else}}—{{end}}</td>
            <td class="[ column--blue ] [ text--center ]">{{if ne .island.second 0 }}{{ lang.NumFmt 0 .island.second }}{{else}}—{{end}}</td>
            <!-- Total -->
            <td class="[ text--center ]">{{ lang.NumFmt 0 (add .island.first .island.second) }}</td>
          </tr>
          {{ $firstTotal = add $firstTotal .island.first }}
          {{ $secondTotal = add $secondTotal .island.second }}
          {{ $byIsalndTotal := 0}}
          {{ $byIslandTotal = add $byIslandTotal ( add .island.first .island.second ) }}
          {{ end }}
        </tbody>
        <tfoot>

          <tr>
            <th class="[ column--head column--blue ] [ text--left pl--1 ]">Totals</th>
            <td class="[ text--center ]">{{ if ne $prevFirstDoseTotal 0 }}{{ lang.NumFmt 0 $prevFirstDoseTotal }}{{else}}—{{end}}</td>
            <td class="[ text--center ]">{{ lang.NumFmt 0 $firstTotal }}</td>
            <td class="[ column--blue ] [ text--center ]">{{ if ne $prevSecondDoseTotal 0 }}{{ lang.NumFmt 0 $prevSecondDoseTotal }}{{else}}—{{end}}</td>
            <td class="[ column--blue ] [ text--center ]">{{ lang.NumFmt 0 $secondTotal }}</td>
            <td class="[ text--center ]">{{ lang.NumFmt 0 $byIslandTotal }}</td>
          </tr>
        </tfoot>
    
      </table>
    </div>

    <figcaption>
      <p><strong>Note:</strong> Figures represent dosages of vaccinations administered locally. <b>First</b> refers to those persons having only received one dose of a two dose vaccination{{ if eq $jj true }} and exclusive of Johnson & Johnson{{end}}.</p>
      {{ if eq $update.pfizer true }}
      
        <p><strong>Note:</strong> {{ $update.pfizernote }}</p>
        {{ if eq $jj true }}
        <p><strong>Note:</strong> {{ $update.jjnote }}</p>
        <p><strong>Note:</strong> Due to the introduction of Johnson & Johnson single dose vaccination and deficiencies in The Government of The Bahamas' configuration and presentation of data, it is no longer possible to report on second dosages, so the category of <b>Second</b> has been modified to <b>Fully Vaccinated</b>.</p>
        {{end}}
      {{end}}
      {{ if .Params.update.error }}<p><strong>Note:</strong> {{ .Params.update.error }}</p>{{end}}
      {{ if .Params.update.doses.rumCay }}<p><strong>Note:</strong> Due to later reporting and for calculation purposes, Long Island (324) & Rum Cay (11) were combined to stabalize data and make presentation more consistent.</p>{{end}}
    </figcaption>

  </figure>

</section>