{{ $update := .Params.update }}
{{ $aggregate := $update.doses.aggregate }}
{{ $total := $aggregate.total }}
{{ $first := $aggregate.first }}
{{ $second := sub $total $first }}
{{ $full := $update.full }}
{{ $abroad := $update.abroad }}
{{ $jj := $update.jj }}
<section class="[ mb--2 page--break ]">
  
  <h2 class="[ h3 mb--050 ]">Vaccinations by Island</h2>

  <figure>

    <div class="[ wrapper for--table ]">
      <table class="[ table--breakdown ] [ mb--1 ]">

        <thead>
    
          <tr>
            <th class="[ column--head text--left ]">Island</td>
            <th class="[ text--center ]">First</td>
            <th class="[ text--center ]">{{ if $jj }}Fully Vaccinated{{else}}Second{{end}}</td>
            <th class="[ text--right ]">Total</th>
          </tr>
    
        </thead>
    
        <tbody>
          {{ range $i, $e := .Params.update.doses.byIsland }}
          <tr>
            <th class="[ column--head text--left ]">{{ .island.name }}</th>
            <td class="[ text--center ]">{{ sub .island.first .island.second }}</td>
            <td class="[ text--center ]">{{if ne .island.second 0 }}{{ .island.second }}{{else}}—{{end}}</td>
            <td class="[ text--right ]">{{ .island.first }}</td>
          </tr>
          {{ end }}
  
        </tbody>
    
      </table>
    </div>
  
    <figcaption>
      <p><strong>Note:</strong> Figures represent dosages of vaccinations administered locally. <b>First</b> refers to those persons having only received one dose of a two dose vaccination{{ if eq $jj true }} and exclusive of Johnson & Johnson{{end}}.</p>
      {{ if eq $update.pfizer true }}
      
        <p><strong>Note:</strong> {{ $update.pfizernote }}</p>
        {{ if eq $jj true }}
        <p><strong>Note:</strong> {{ $update.jjnote }}</p>
        <p><strong>Note:</strong> Due to the introduction of Johnson & Johnson single dose vaccination and deficiencies in The Government of The Bahamas' configuration and presentation of data, it is no longer possible to report on second dosages, so the category of <b>Second</b> has been modified to <b>Fully Vaccinated</b>.</p>
        {{end}}
      {{end}}
    </figcaption>

  </figure>

</section>