<section class="[ mb--2 ]">
  {{ $update := .Params.update }}
  {{ $aggregate := $update.doses.aggregate }}
  {{ $total := $aggregate.total }}
  {{ $first := $aggregate.first }}
  {{ $second := sub $total $first }}
  {{ $full := $update.full }}
  {{ $abroad := $update.abroad }}
  {{ $jj := $update.jj }}
  {{ $pop := 389410.00 }}
  <h2 class="[ h3 mb--025 ]">Vaccinations by Population</h2>

  <figure class="[ mb--2 ]">

    <table class="[ table mb--1 ]">

      <thead>
        <th class="[ column--head text--left ]">Status</th>
        <th class="[ text--right ]">% of Pop.</th>
        <th class="[ text--right ]">Per 100K</th>
        <th class="[ text--right ]">Total</th>
      </thead>
      <tbody>
        <tr>{{ $fully := math.Round ( mul (div $full $pop  ) 100 ) }} {{ $fullyPer := mul (div $full $pop  ) 100000 }}
          <th class="[ column--head text--left ]">Full</th>
          <td class="[ text--right ]">{{ $fully }}%</td>
          <td class="[ text--right ]">{{ lang.NumFmt 2 $fullyPer  "- ." | safeJS }}</td>
          <td class="[ text--right ]">{{ $full }}</td>
        </tr>
        <tr>{{ $partial := math.Round ( mul (div $first $pop  ) 100 )}} {{ $partialPer := mul (div $first $pop  ) 100000 }}
          <th class="[ column--head text--left ]">Partial</th>
          <td class="[ text--right ]">{{ $partial }}%</td>
          <td class="[ text--right ]">{{ lang.NumFmt 2 $partialPer  "- ." | safeJS }}</td>
          <td class="[ text--right ]">{{$first}}</td>
        </tr>    
        <tr>{{ $unvaccinated := math.Round ( mul (div ( sub $pop ( add $first $full ) ) $pop  ) 100 ) }}{{ $unvaccinatedPer := ( mul (div ( sub $pop ( add $first $full ) ) $pop  ) 100000 ) }}
          <th class="[ column--head text--left ]">Unvaccinated</th>
          <td class="[ text--right ]">{{ $unvaccinated }}%</td>
          <td class="[ text--right ]">{{ lang.NumFmt 2 $unvaccinatedPer  "- ." | safeJS }}</td>
          <td class="[ text--right ]">{{ sub $pop ( add $first $full ) }}</td>
        </tr>
      </tbody>
  
    </table>
    <figcaption><strong>Note:</strong> Population data is sourced from <a href="https://stats.gov.bs/" rel="noopener" target="_blank">The Bahamas' Department of Statistics</a> and is represented at {{$pop}} as of 2020.</figcaption>

  </figure>

</section>

